 /*RESET*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* GENERALI */
 .color-black{
    color: black;
 }
 body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .container-big{
    max-width: 70%;
    margin: 0 auto;
 }
 .container-smoll{
    max-width: 60%;
    margin: 0 auto;
 }
 section{
    margin: 60px 0;
 }
 .my-btn{
    background-color: blue;
    color: white;
    cursor: pointer;
    text-align: center;
}
.my-btn:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}
 /* HEADER */
/*HEADER-TOP */
header
.item-header{
    z-index: 30;
    position: absolute;
    background-color: white;  
    top: 46px;
    left: 114px;
    display: none;
}
.item-header ul li:hover{
    background-color: white;
}
.click-header{
    display: block;
}
.click-header:hover .item-header{
    display: block;
}
.header-top{
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 46px;
    font-size: 13px;
    background-color: #fff;
    padding: 0 10px;
}
#logo-header{
    display: inline-block;
    vertical-align: middle;
}
.header-top div ul li:not(#logo-header){
    display: inline-block;
    padding: 15px 10px;
    vertical-align: middle;

}
.header-top div ul li:not(#logo-header ,#button-head):hover{
    background-color: lightgray;
}
.header-top div ul li a:not(.btn-header){
    color:gray;
}
.nav-sx-header ul li img{
    width: 100px;
}
.btn-header{
    padding: 5px 10px;
    color: white;
}

/* HEADER-BOTTOM */
.header-bottom{
    padding-top: 70px;
  
    background-color:#b4d0e7;
}
.title-header-bottom{
    font-size: 35px;
}
.doppio-header-bottom{
    margin-top: 30px;
}
.content-header{
    width: 35%;
}
.content-header{
    font-size: 13px;
}
.btn-header-bottom{
    padding: 10px;
}
.img-header{
    width: 65%;
    position: relative;
}
.img-header img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.doppio-header-bottom div a{
    margin-top: 30px;
}
.content-header ul li{
    padding: 35px 0 10px;
    list-style: none;
}
.link-black{
    color: black;
    font-size: 40px;
}

/* MAIN */

.special-section-one{
    padding-right: 25px;
}
.title-main-head h2{
    padding: 40px 0;
    font-size: 35px;
}
.circle-blue{
    border: 4px solid blue;
}
.circle-gray{
    border: 2px solid lightgray;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.items-main-head{
    padding-top: 30px;
}
.w-30{
    width: 30%;
}
.item-section-one{
    border: 1px solid lightgray;
    font-size: 11px;
}
.smoll-row{
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px 0;
}
.container-item-one{
    padding: 10px;
}
.container-item-one >*{
    padding: 10px ;
}
.information-container-item ul li{
    padding: 10px 0;
    list-style: none;
}
.btn-container-item{
   padding: 10px 15px;
   display: block;
}
.bynow-container-item{
    margin: 10px 0 20px 0;
}
.bynow-container-item >span:last-child{
    text-decoration: underline;
    color: blue;
}
.border-container-item{
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.bottom-item ul li i{
    color: blue;
}
.bottom-section-one{
    margin-top: 40px;
}

.btn-section-one{
    width: 20%;
    padding-top: 30px;
}
.btn-section-one-bottom{
    padding: 10px;
}
/* SECTION-TWO */

.img-section-two{
    width: 70%;
}
.img-section-two img{
    width: 100%;
}
.content-section-two{
    width: 30%;
    margin: 30px;
}
.content-section-two >*{
   margin: 20px 0;
}
.btn-section-two a{
    color: black;
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 3px;
}
.btn-section-two a:hover{
   background-color:lightgray;
}
/* SECTION-THREE */
.items-section-three >h2{
    font-size: 35px;
}
.items-section-three{
    flex-wrap: wrap;
}
.item-section-three{
   width: 30%;
   margin-top: 30px;
}
.item-section-three img{
    width: 100%;
 }
 .item-section-three h4{
    font-size: 18px;
    line-height: 1.5;
 }.item-section-three p{
    font-size: 12px;
    padding-top: 20px;
    line-height: 1.4;
 }
/* SECTION-FOUR */
.title-section-four h2{
    padding-bottom: 30px;
}
.title-section-four a{
    text-decoration: underline;
    padding: 5px;
    color: blue;
}
.partners{
    margin-top: 60px;
}
.big-box{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}
.big-box >*{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s;
}
.big-box div img{
    width: 50%;
}
.big-box-central{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    padding: 30px;
}
.big-box-central img{
    width: 50%;
}
.big-box-central >p{
    margin: 40px 0 20px 0;
}
#green-box{
    background-color:#a2d39b ;
}
#burgundy-box{
    background-color:#61082b;
}
.big-box >div:hover{
    box-shadow:inset 0px 0px 36px 22px rgba(0,0,0,0.5);
}
#middle-blue-box{
    background-color:#0093ce ;
}
#middle-blue-box img{
    filter: invert();
}
.red-box{
    background-color:#ff1c1c;
}
.red-box img{
    filter: invert();
}
#light-blue-box{
    background-color:#b4d0e7;
}
#blue-box{
    background-color:blue ;
}
#yellow-box{
    background-color:yellow ;
}
.bottom-section-four{
    background-color: lightskyblue;
}
.content-section-four{
    padding: 60px 0;
}
.content-section-four span button:hover{
    background-color: lightgray;
}
.content-section-four >*{
    width: 50%;
}
.content-section-four span {
    text-align: right;
}
.content-section-four span button{
    padding: 10px;
    border: none;
}
.content-section-four button a{
    color: black;
}
/* section-footer-main */
.main-footer h2{
    padding-bottom: 30px;
}
.item-main-footer{
    padding: 20px 0;
}
.content-item-main{
    display: none;
    font-size: 13px;
}
.chevron-main-footer{
    margin-right: 20px;
}
.items-main-footer:hover .content-item-main {
    display:block;
    padding-bottom: 20px;
}
.items-main-footer:hover .chevron-main-footer {
   transform: rotate(180deg);
}

/* footer */
footer{
    background-color: black;
    color: white;
}
.footer-top{
    padding: 80px 0;
}
.footer-top h5{
   font-size: 16px;
   margin-bottom: 20px;
}
.footer-top div ul li a{
    display: inline-block;
    color: white;
    padding: 10px 0;
    font-size: 11px;
}
.footer-top div ul li{
    list-style: none;
}
.footer-top div ul li a:hover{
    box-shadow:inset 0px -1px 0px 0px #ffffff;
}
.footer-top >div{
    width: 20%;
}
.footer-bottom{
    padding-bottom: 30px;
}
.footer-bottom span{
    padding-top: 20px;
    border-top: 2px solid white;
    font-size: 12px;
}









